In [1]:
# Libraries and Dependencies
import pandas as pd
import numpy as np

In [2]:
housing_data = pd.read_csv("Data/American_Housing_Data_20231209.csv")

housing_data.head()

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
1,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601

In [3]:
housing_data.isnull().sum()

Zip Code                   0
Price                      0
Beds                       0
Baths                      0
Living Space               0
Address                    0
City                       0
State                      0
Zip Code Population        0
Zip Code Density           0
County                     0
Median Household Income    2
Latitude                   0
Longitude                  0
dtype: int64

In [4]:
housing_data = housing_data.dropna()

housing_data.isnull().sum()

Zip Code                   0
Price                      0
Beds                       0
Baths                      0
Living Space               0
Address                    0
City                       0
State                      0
Zip Code Population        0
Zip Code Density           0
County                     0
Median Household Income    0
Latitude                   0
Longitude                  0
dtype: int64

In [5]:
housing_data.dtypes

Zip Code                     int64
Price                      float64
Beds                         int64
Baths                        int64
Living Space                 int64
Address                     object
City                        object
State                       object
Zip Code Population          int64
Zip Code Density           float64
County                      object
Median Household Income    float64
Latitude                   float64
Longitude                  float64
dtype: object

In [6]:
len(housing_data)

39979

In [7]:
dupes = housing_data.duplicated(subset=["Address"])

dupe_list = list(np.where(dupes)[0])

len(dupe_list)

1154

In [8]:
for index in dupe_list:
    print(housing_data.loc[index, "Address"])

74 GRAND ST APT 3
15 PORTLAND PL
35 SUNNYSIDE TER
76 HIGHLAND AVE
58 COLLFIELD AVE
145 FULTON ST
64 BALTIC AVE
67 REYNOLDS ST
581 STEUBEN ST
128 THOMAS ST
171 CANNON BLVD
171 CANNON BLVD
42 HITCHCOCK AVE
353 CRAIG AVE
30 ERIC LN
108 HOWTON AVE
30 ERIC LN
74 PHEASANT LN
5678 AMBOY RD
890 MARCY AVE
4945 AMBOY RD
16 PRESTON AVE
131 CORTELYOU AVE APT 1-1
66 BIANCA CT
229 JAMIE LN
38 JONES ST
153 WELLBROOK AVE
280 FISKE AVE
193 LAMPED LOOP # 37
1374 PROSPECT AVE
2104 HOLLAND AVE APT 3F
3240 RIVERDALE AVE APT 4G
6 FORDHAM HILL OVAL APT 5D
3307 FISH AVE
1156 ROSEDALE AVE
26910 GRAND CENTRAL PKWY APT 32H
39-21 48TH ST
2180 33RD RD APT 5D
200 CONGRESS ST APT 6
846 E 46TH ST
1534 W 9TH ST
362 90TH ST
74 89TH ST
2707 AVENUE I
8824 16TH AVE
290 BAY 17TH ST APT C3
1867 W 4TH ST
8014 10TH AVE
2523 OCEAN AVE APT 5C
1250 OCEAN PKWY APT 3J
9A HULL ST # A
2613 EMMONS AVE # 326
3041 OCEAN AVE APT 4C
2800 BROWN ST
194 FALMOUTH ST
148-09 NORTHERN BLVD # 5G
159-14 CROSS ISLAND PKWY # 6-27
35-42 222ND ST
65-35 108TH ST # D3
52-16 ROOSEVELT AVE # 5A
159-40 102ND ST
88-38 181ST ST
17520 WEXFORD TER APT 3G
2156 N NEWKIRK ST
184 W OXFORD ST
1502 EARL ST
655 N CREIGHTON ST
2541 N MARSTON ST
2543 W GORDON ST
3109 W ARIZONA ST
3618 EMERALD ST
2538 E CLEARFIELD ST
207 N VODGES ST
2046 W WESTMORELAND ST
1207 S PEACH ST
6129 MUSGRAVE ST
1836 S 29TH ST
1316 S CHADWICK ST
740 S COLUMBUS BLVD UNIT 28
2122 GRIFFITH ST
3719 WESTHAMPTON DR
609 WALKER AVE
4744 DEERFIELD LN
3738 SANDPIPER RD APT 108B
4307 HIALEAH DR
1413 PEBBLEBROOK WAY
3005 GOLDEN BRANCH LN
4628 PUNJAB ST
6001 WINTERPOINTE LN APT 204
4805 JOHN WHITE DR
156 GARDEN VINE TRL # 528
11821 COACHMANS WAY
1726 EUCLID AVE
2649 HEMPHILL ST
5408 CASPER DR
1824 PURSER DR
1832 PURSER DR
1828 PURSER DR
9315 MAGNOLIA LILY AVE
9114 SWALLOW TAIL LN
11910 JAMES RICHARD DR
20 MARIETTA ST NW APT 10C
510 WHITEHALL ST SW # 203
510 WHITEHALL ST SW # 203
57 FORSYTH ST NW APT 3A
3107 PEACHTREE RD NE UNIT 1103
3060 PHARR COURT NORTH NW APT 609
2828 PEACHTREE RD NW APT 1404
3040 PEACHTREE RD NW UNIT 211
2741 ATWOOD RD NE
755 GREENVIEW AVE NE
3325 PIEDMONT RD NE UNIT 2605
3126 PEACHTREE DR NE
2295 SHENANDOAH AVE NE
55 DELMONT DR NE APT C1
2560 BROOKDALE DR NW
2828 PEACHTREE RD NW APT 704
3325 PIEDMONT RD NE UNIT 2605
2741 ATWOOD RD NE
400 VILLAGE PKWY NE APT 149
667 SOMERSET TER NE
600 LINWOOD AVE NE
1061 ROSEDALE RD NE
1302 MIDDLESEX AVE NE
978 NORTH AVE NE APT 206
605 LINWOOD AVE NE
1021 KENTUCKY AVE NE
910 BARTON WOODS RD NE
1661 LA FRANCE ST NE UNIT 419
1194 NORTH AVE NE
1380 MARION AVE NE
303 JOSEPHINE ST NE
303 NELMS AVE NE
1585 S PONCE DE LEON AVE NE # M4
706 ARGONNE AVE NE APT 1
620 GLEN IRIS DR NE UNIT 225
845 SPRING ST NW UNIT 301
860 PEACHTREE ST NE UNIT 2808
620 PEACHTREE ST NE APT 1613
880 GLENDALE TER NE APT 3
507 WILMER ST NE APT 2
45 IVAN ALLEN JR BLVD NW UNIT 2602
275 13TH ST NE
487 DEERING RD NW
1101 JUNIPER ST NE APT 804
950 W PEACHTREE ST NW UNIT 1013
1130 PIEDMONT AVE NE APT 709
114 MADDOX DR NE
44 PEACHTREE PL NW UNIT 824
1280 W PEACHTREE ST NW APT 912
454 BEVERLY RD NE
145 15TH ST NE APT 206
955 JUNIPER ST NE UNIT 2221
275 13TH ST NE APT 1006
2233 PEACHTREE RD NE UNIT 801
952 PEACHTREE ST NE APT 4
1080 PEACHTREE ST NE UNIT 1302
266 11TH ST NE UNIT 103
914 COLEMAN ST SW
956 LAWTON ST SW
1830 S GORDON ST SW
956 LAWTON ST SW
1464 BEATIE AVE SW
916 ESTES DR SW
1423 LYNFORD DR SW
988 MCDANIEL ST SW
973 KATHERWOOD DR SW
898 OAK ST SW UNIT 1308
988 MCDANIEL ST SW
933 BYRON DR SW
975 WELCH ST SW
1108 GRAYMONT DR SW
1570 OLYMPIAN WAY SW
775 HUMPHRIES ST SW
1142 INDALE PL SW
485 E ONTARIO AVE SW
1729 MELROSE DR SW
1764 ALVARADO TER SW
1699 OLYMPIAN WAY SW
898 OAK ST SW UNIT 3207
389 HOPKINS ST SW
1674 MELROSE DR SW
243 PEYTON PL SW
1439 WESTRIDGE RD SW
261 PEYTON PL SW
2565 LAUREL CIR NW
3155 DELMAR LN NW
1439 WESTRIDGE RD SW
2166 HONEYSUCKLE LN SW
340 WILLIS MILL RD SW
1381 WILLOW TRL SW
300 LOGAN ST SE
647 GLENWOOD AVE SE
367 PARKWAY DR NE # 4
647 GLENWOOD AVE SE
1405 MCGILL PARK AVE NE
251 GEORGIA AVE SE
170 BOULEVARD SE APT H327
367 PARKWAY DR NE # 5
546 JOHN WESLEY DOBBS AVE NE
298 GLENN ST SW
333 NELSON ST SW UNIT 235
201 PETERS ST SW
150 WALKER ST SW UNIT 11
982 MAYSON TURNER RD NW
415 WESTCHESTER BLVD NW
370 NEW JERSEY AVE NW
415 WESTCHESTER BLVD NW
1690 EZRA CHURCH DR NW
973 PARSONS ST SW
873 THURMOND ST NW
2338 TERRACE VIEW CIR SW
213 THORNTON ST SW
213 THORNTON ST SW
200 ORMOND ST SW
412 ASHWOOD AVE SW
1195 MILTON TER SE APT 4206
2338 TERRACE VIEW CIR SW
1824 LAKEWOOD AVE SE
2180 PRYOR RD SW
1576 LAKEWOOD AVE SE
2183 BURROUGHS AVE SE
1843 LAKEWOOD AVE SE
747 FORMWALT ST SW
2933 5TH ST SW
970 VIOLET ST SE
470 POMONA CIR SW
160 VANIRA AVE SE
88 CLAIRE DR SE
1974 BROWNS MILL RD SE
248 TAFT ST SW
1412 FOXHALL LN SE APT 3
1094 KNOTT ST SE
2475 HAZEL DR SE
1652 FLAT SHOALS RD SE
1982 BOULDERVIEW DR SE
64 MORELAND AVE SE
3192 CANDACE DR SE
453 PATTERSON AVE SE
259 VANNOY PARK LANE DR SE
2781 ROLLINGWOOD LN SE
1412 FOXHALL LN SE APT 3
1020 KIRKWOOD AVE SE # B
2173 BRANNEN RD SE
1065 MORELAND AVE SE
259 VANNOY PARK LANE DR SE
3192 CANDACE DR SE
201 HOWARD ST SE UNIT 2
1728 FAIRWAY HILL DR SE
102 KIRKWOOD RD NE
117 CARTER AVE SE
1626 STANWOOD AVE SE
2340 COTTAGE GROVE AVE SE
120 WOODBINE CIR SE
355 LELAND TER NE
1636 DUNCAN DR NW
971 SIMS AVE NW
703 VIDALIA LN NW
656 CEDAR AVE NW
677 VIDALIA LN NW
1356 RIETVELD ROW NW
1231 HOLLY ST NW UNIT B
1677 NORTH AVE NW
1733 MOORES MILL RD NW
915 KIPLING DR NW
1225 HOLLY ST NW UNIT B
1253 CHELSEA CIR NW # 31
1225 HOLLY ST NW UNIT B
1231 HOLLY ST NW UNIT A
665 VIDALIA LN NW
1225 HOLLY ST NW UNIT A
1769 LIBERTY PKWY NW
538 WHITLOX RD NW
1231 HOLLY ST NW UNIT B
1231 HOLLY ST NW UNIT A
656 CEDAR AVE NW
1225 HOLLY ST NW UNIT A
699 CEDAR AVE NW
2294 HILL ST NW
1150 COLLIER RD NW APT K8
1516 HOWELL MILL RD NW APT 6
2166 WELDONBERRY DR NE
1261 LAVISTA RD NE APT K3
887 BERKSHIRE RD NE
1136 GOODWIN RD NE
410 SUMMIT NORTH DR NE
1128 COUNTRY LN NE
796 E MORNINGSIDE DR NE
1318 HOPKINS TER NE
1445 MONROE DR NE APT F15
555 BROADVIEW PL NE
3481 LAKESIDE DR NE APT 1502
3334 PEACHTREE RD NE APT 806
3338 PEACHTREE RD NE APT 1901
3324 PEACHTREE RD NE UNIT 1115
3481 LAKESIDE DR NE APT 2404
1560 BARRINGTON CT NW
1271 WESTMINSTER WALK NW
1169 DAWN VIEW LN NW
1560 BARRINGTON CT NW
1169 DAWN VIEW LN NW
1167 PEACHTREE BATTLE AVE NW
95 ADRIAN PL NW
242 TRIUMPH DR NW
1986 DEVONWOOD DR NE
1695 BELLE ISLE CIR NE
1605 TRAILVIEW WAY NE
1333 N CROSSING DR NE
2295 PEMBERTON RD SW
685 BOLTON RD NW
4903 WEWATTA ST SW
1091 FAIRBURN RD NW
3671 BRADFORD WAY
812 AMBER PL NW
1315 REGENCY CENTER DR SW
4641 TUCSON TRL SW
3727 WINFIELD CT SW
4641 TUCSON TRL SW
398 PLAINVILLE DR SW
4115 WOODLAND PARK DR SW
3822 BAKERS FERRY RD SW
585 LOFTY LN SW
3915 BASIL WAY SW
4395 WOODLAND BROOK DR SE
2607 VININGS CENTRAL DR SE
3305 PACES FERRY AVE SE
4680 POLO LN SE
3280 STILLHOUSE LN SE UNIT 301
4745 LONGCOURT DR SE
3084 VININGS FERRY DR SE
11 W PARK CT NW
312 BLACKLAND RD NW
4580 WINDSOR GATE CT
2972 PALM DR
1327 MERCER AVE
1850 WILLIAMS AVE
2346 TANGLEWOOD CIR NE
75 WERNER BROOK WAY SW
75 WERNER BROOK WAY SW
71 SPRINGSIDE DR SE
3341 LAVISTA DR
270 17TH ST NW UNIT 3108
361 17TH ST NW UNIT 1107
270 17TH ST NW UNIT 3507
7057 ROLLO RD
2021 N MARKET ST
2507 JERNIGAN RD
1332 CAMPBELL AVE
120 W 65TH ST
3434 BLANDING BLVD UNIT 244
5053 APPLETON AVE
15945 BAINEBRIDGE DR
4930 BIG PINE DR
4899 BIG PINE DR
4882 BIG PINE DR
4924 BIG PINE DR
11534 CARSON LAKE DR
12347 ARROWLEAF LN
11179 MIKRIS DR N
9744 HECKSCHER DR
7551 GROSSMAN CT
12230 SUNCHASE DR
3130 THOMAS ST
14576 NEEDHAM DR
7701 BAYMEADOWS CIR W APT 1037
15227 VENOSA CIR
12282 CHIMNEY TRAIL LN
5764 SANDSTONE WAY
1861 NW SOUTH RIVER DR # A09
4707 NW 7TH ST # 204-8
92 SW 3RD ST APT 1206
92 SW 3RD ST APT 1105
300 S BISCAYNE BLVD # LOFT
2400 TRAPP AVE
3301 NE 1ST AVE APT H1811
2900 NE 7TH AVE UNIT 1402
1003 NE LITTLE RIVER DR
1321 NW 51ST TER
4001 WOODMONT BLVD
2005 MAPLE VIEW LN
2601 HABERSHAM AVE
2601 SCHOOL AVE
7341 CROWTHER CV
0 EPPING FOREST WAY CV
5104 CHARBDIN CT
541 BRENTWOOD AVE
2803 DELOR AVE
9445 MOSSY CREEK WAY
3516 WOODMONT PARK LN
11301 TRITON SPRING CT
115 SHALLOTTE DR
1047 ARCARO DR
6829 DAISY LN
7339 PIPESTONE DR
3616 SOMMERSWORTH LN
3820 SPRINGFIELD OVERLOOK ST
10136 SANDCHERRY LN
1019 SCHMITT RD
211 N HARBOR DR APT 1808
1550 S BLUE ISLAND AVE UNIT 611
5439 S FEDERAL ST
111 W MAPLE ST APT 1602
1440 N STATE PKWY APT 12D
1300 N ASTOR ST UNIT 26A
132 E DELAWARE PL # 6205-07
800 N MICHIGAN AVE APT 3203
190 E WALTON PL APT 501
179 E LAKE SHORE DR UNIT 19S
3219 S STEWART AVE
2842 N FRANCISCO AVE APT G
3900 W MONTROSE AVE
4328 N CENTRAL PARK AVE
1056 N MARSHFIELD AVE APT 2
7524 N WINCHESTER AVE APT GW
131 W 113TH ST
11807 S EMERALD AVE
10221 S VERNON AVE
3506 N NEVA AVE
6036 W HENDERSON ST
6601 W WELLINGTON AVE
5306 S MEADE AVE
1915 W BALMORAL AVE
5459 W GRACE ST
6942 N ALGONQUIN AVE
1740 N MAPLEWOOD AVE APT 108
1119 N LOREL AVE
428 W WELLINGTON AVE # A
5651 N GLENWOOD AVE
1858 N SAYRE AVE
12302 E 54TH TER
3223 W KEYWEST CT
5447 W 26TH CT N
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
331 N 127TH ST E
801 S HIRAM ST
1825 E 11TH ST N
4514 S CHARLES AVE
6411 N 49TH ST
3239 S 40TH ST
6830 MASON ST
4735 S 17TH ST
1711 B ST
5731 TCHOUPITOULAS ST
4917 CAMP ST
3949 CHESTNUT ST
2902 MILAN ST
5236 PITT ST
1636 ARABELLA ST
1541 N ROMAN ST
1531 GOVERNOR NICHOLLS ST
1032 ROYAL ST
1006 MAZANT ST
640 PAULINE ST # 640
3720 ROYAL ST # 3720
8910 MELROSE LN
115 CONRAD ST APT 117
8612 PONTCHARTRAIN BLVD # 2D
6014 CATINA ST
6518 ARGONNE BLVD
5537 CHERLYN DR
16308 MONTAGUE DR
12125 CARDINAL LN
2804 WILD ROSE LN
10632 NW 35TH ST
10801 NW 28TH TER
3132 NW 52ND ST
5710 N MILLER AVE
1704 NW 34TH ST
1124 NW 36TH ST
3200 W BRITTON RD APT 92
5929 N HAMMOND AVE
1313 N STERLING AVE
8613 NW 77TH ST
5429 NW 64TH ST
4905 LINCOLN SQ
6513 S VILLA AVE
2841 SW 80TH ST
4901 SE 147TH ST
7700 S EAGLE LN
3234 ROSEDALE AVE
315 N MARLBOROUGH AVE
2731 MAURINE F BAILEY WAY
4725 SMOKEY QUARTZ LN
1219 WHITE SQUALL TRL
1414 WHITE SQUALL TRL
1703 DALE DR
1413 CARDINAL ST
1301 DARLENE LN
2001 FAIR MEADOW DR
1818 PARK HIGHLAND WAY
2017 S THORNBUSH CIR
3408 YELLOWSTONE DR
1215 COLUMBINE CT
714 WAGGONER DR
2100 JUANITA DR
2418 WINEWOOD LN
2209 FOXCROFT LN
418 CAVENDISH DR
3205 GLASGOW TER
4215 E PLEASANT FOREST ST
4204 EAGLE RIDGE DR
4700 LESTER DR
4505 FOX RIVER TRL
5101 CLARKSBURG CT
3403 SOLANO DR
1404 COLONNADE DR
5309 TAMARACK CT
1715 GENTLE WIND DR
620 FALL WOOD TRL
4302 CRITES ST
3709 ANITA ST # 8
5415 LILLIAN ST
1607 SHEARN ST
710 CARRIAGE KNOLLS DR
1607 W 24TH ST # A
1714 STACY FLS
1602 W 24TH ST
2520 HOUSTON AVE # 601
1305 IDYLWILD ST
6832 AVENUE T
8005 JUNIUS ST
1522 WOODCREST DR
3811 HARVARD ST
303 BLUEBERRY ST # B
551 BOLTON PL
6604 BACHER ST
6039 WILLOW GLEN DR
10703 RIVERVIEW DR
10615 ELLA LEE LN
1219 WESTWICK FOREST LN
2014 MANILA LN
10314 BARWOOD DR
3014 SKYLINE MESA DR
3016 SKYLINE MESA DR
3307 HALLE TRACE LN
12714 ALMEDA CROSSING CT
9028 HARBOR HILLS DR
1711 OLD SPANISH TRL APT 206
1911 BERING DR APT 35
8111 GLEN VISTA ST
9802 WILLOWBRIDGE PARK BLVD
11135 PIGEON BLUFF DR
14911 WUNDERLICH DR APT 1013
14002 CHAMPIONS HAMLET CT
11603 KNOBCREST DR
9903 MILL SHADOW DR
1625 BEACONSHIRE RD
9915 EMNORA LN
8610 JUBILEE DR
9234 WINDSWEPT GROVE DR
3003 HAVEL ST
252 CORNELL AVE
315 CINCINNATI AVE UNIT 103
315 CINCINNATI AVE UNIT 101
315 CINCINNATI AVE UNIT 102
13123 LARKABBEY ST
5115 SENISA SPGS
23814 CARINA CYN
3003 OAKHAVEN DR
14909 JOLYNN ST
14402 LEVERING ST
12120 WYCLIFF LN
12503 PARKLAND DR
13601 PAISANO TRL
405 ARIA DR
2403 MONTAGUE ST
2124 BURTON DR APT 158
4625 PINEHURST DR S APT D
1420 CANON YEOMANS TRL
8000 LOGWOOD DR
3121 W 17TH AVE
2131 N YORK ST
3035 ASH ST
723 S SHERMAN ST
500 S PENNSYLVANIA ST # 512
1909 S LOGAN ST
2387 S OGDEN ST
3537 W 40TH AVE
3320 STUART ST
105 W MAPLE AVE
1919 S HURON ST
1960 S KEARNEY WAY
4659 S LOWELL BLVD APT B
8500 E JEFFERSON AVE APT 20E
775 S ALTON WAY UNIT 7D
808 E MONUMENT ST
12 W MILL ST
2952 CATHEDRAL PARK VW
2931 MESA RD APT A
4450 MONITOR ROCK LN
1431 MADISON RIDGE HTS APT D
107 N 30TH ST
2223 W BIJOU ST
2575 WHEATON DR
2003 S CORONA AVE
1010 FLORENCE AVE
900 SATURN DR APT 202
777 SATURN DR UNIT 506
1523 WINFIELD AVE
1960 SWEARINGER DR
1216 GUMWOOD DR
1216 GUMWOOD DR
4050 AUTUMN HEIGHTS DR UNIT D
3 BROADMOOR AVE
3719 BLUE MERION CT
1216 GUMWOOD DR
1644 GOLD CAMP RD
6055 FARTHING DR
375 OAKHURST LN
905 SAMUEL PT
849 BECKTON HTS
3649 CRAGWOOD DR
1931 N TEJON ST
11325 FAWN LN
6913 SIERRA MEADOWS DR
19520 STILL GLEN DR
16850 STEPPLER RD
3913 HODGEN POND CT
7425 TOBIN RD
12860 ABERT WAY
13825 WILDOAK DR
13210 SIERRA MADRE RD
7815 MAVERICK RD
9775 WALKER RD
18015 BAKERS FARM RD
17794 SAWMILL RD
17378 ABERT RANCH DR
1623 DELAWARE DR
2502 FAIRVIEW CIR
1723 HOLMES DR
2024 E WILLAMETTE AVE
2238 STRATFORD LN
219 LONGFELLOW DR
3483 ATLANTIC DR
1090 ANTRIM LOOP
426 LAKEWOOD CIR
3106 GOMER AVE
971 TAMPICO CT
207 MILTON DR
2902 AIRPORT RD APT 211
6608 BOBTAIL DR
7530 SILVERDALE ST
7250 SULLIVAN CIR
2537 IVANHOE DR
1645 TAHLEQUAH DR
1854 LANKA LN
1995 PAWHUSKA PL
6655 PAWNEE CIR
1018 LUTHERAN WAY
2035 REED GRASS WAY
1914 WOOTEN RD
628 PRAIRIE STAR CIR
4015 WYLIE LN
2468 LEXINGTON VILLAGE LN
4517 FENTON RD
1078 NOLTE DR W
5429 TENNESSEE PASS DR
4433 S WHISPERING CIR
4837 ESCAPARDO WAY
3124 VAIL PASS DR
2629 E SERENDIPITY CIR
3425 REBECCA LN APT A
5445 DEL REY DR
4659 RIDGEGLEN RD
6240 MACH 1 DR
5830 CLIFFSIDE TER
6240 MACH 1 DR
3465 BEECHWOOD CT
4608 STONEHILL RD
4506 RANCH CIR
4857 SONATA DR APT A
4855 TOPAZ DR
5345 DEL PAZ DR
3430 VALEJO CT
755 CARVED TER
6178 COLONY CIR
5818 WISTERIA DR
2560 ROSSMERE ST
1428 TERRITORY TRL
315 SUNBIRD CLIFFS LN
4540 GRANBY CIR
1315 BISON RIDGE DR
440 W ROCKRIMMON BLVD APT H
2480 LINENHALL CT
9195 CHETWOOD DR
7824 FRENCH RD
2525 SHRIDER RD
2471 WILLOW GLEN DR
5473 PLUMSTEAD DR
2145 NORWICH DR
14602 BLUE WINGS WAY
1392 OAKMONT DR
12643 TIMBERGLEN TER
12941 SERENITY PARK DR
848 SPECTRUM LOOP
1280 ALMAGRE PEAK DR
1198 CRYSTAL BASIN DR
1604 RUSTLERS ROOST DR
1663 LOOKOUT SPRINGS DR
3659 REINDEER CIR
4513 CROW CREEK DR
7460 FOREST FALCON VW
7787 ORANGE SUNSET DR
7104 ASH CREEK HTS APT 103
5432 STATUTE DR
6898 TULLAMORE DR
6340 VICKIE LN
4942 SPOTTED HORSE DR
7237 CAT TAIL CREEK DR
6227 RIVERDALE DR
5854 BRENNAN AVE
6640 WHEREABOUT CT
6955 COTTON DR
6645 BEAR TOOTH DR
6663 THISTLEWOOD ST
5617 MAKALU DR
10057 VERVAIN VW
10021 THRIVE LN
8529 JACKS FORK DR
4919 OLYMPUS DR
5247 MOUNT CUTLER CT
4341 BRAMBLE LN
10650 OUTFIT DR
6145 WHITE WOLF PT
6730 MANDAN DR
8081 BUFFALO HORN DR
6522 TILLAMOOK DR
8160 PIUTE RD
7151 LAUREL CHERRY CT
6439 FOREST THORN CT
5752 TRAMORE CT
8052 PUMICE PT
1804 DEWHIRST DR
8042 PARSONAGE LN
6516 N VILLA MANANA DR
301 E STATE AVE
426 W PONTIAC DR UNIT 8
901 E GWEN ST
420 E KACHINA TRL
2116 W TALLGRASS TRL UNIT 230
4033 W VILLA LINDA DR
33550 N DOVE LAKES DR UNIT 2015
155 W LINCOLN ST
6077 N TOCITO PL
5655 W CORTARO CROSSING DR
4202 W ANKLAM RD
6373 S AMBARELLA DRIVE
2704 PUERTA DEL BOSQUE
337 CAMINO SEIS SW
629 SOLAR RD NW
432 BELL PARK CIR SE
1013 DAKOTA ST SE
8206 ROBIN AVE NE
10409 MOUNTAIN RD NE
2340 WYOMING BLVD NE
10509 SUPERNOVA ST NW
5100 ALPHA AVE NW
4024 DEL MONTE AVE
1530 BONITA AVE
5405 AUBORN AVE
3608 LISANDRO ST UNIT 101
4217 JASPER AVE
2721 RENWICK CIR
3200 IVORY COAST DR
2664 MYSTERE CT
3942 TORSBY PL
5195 GOLDEN LN # K
3420 S PECOS RD
5310 DURALITE ST UNIT 102
5710 E TROPICANA AVE UNIT 2018
5841 MEDALLION DR UNIT 203
5200 BLANTON DR
10421 RISING HARBOR AVE
9495 W LONE MOUNTAIN RD
8931 FORT CRESTWOOD DR
6428 LOKAI AVE
6243 BRAIDED ROMEL CT
3016 BIG GREEN LN
10041 NETHERTON DR
10256 ROMANTICO DR
11283 CACTUS TOWER AVE UNIT 101
27 MEADOWHAWK LN
924 MAYFIELD MANOR LN
11109 MOUNT CASS ST
9044 RENDON ST
10621 PEDAL POINT PL UNIT 204
9227 TESORAS DR UNIT 301
120 SEDRAN PL
9103 ALTA DR UNIT 806
6141 DARBY AVE
6159 PEPPERMILL DR
4347 MILFORD POND PL
3594 PINNATE DR
9061 HOMBARD AVE
6628 BREAKWATER REEF ST
7877 WILDEBEEST CT
6711 WARTHOG AVE
6724 WARTHOG AVE
10854 LA FLORENTINA AVE
10978 NICHOLAS JAY AVE
8035 TORREMOLINOS AVE
9267 GRASSY WEEP CT
174 ELEXESE CT
1064 VALETTA FLAT AVE
1901 THAYER AVE
2715 FAIRMOUNT ST
672 WALTHER WAY
1457 CLARIDGE DR
1850 COLDWATER CANYON DR
312 MARKET ST # 312 1/2
1702 ISLAND AVE
440 CHESTNUT AVE UNIT 1D
555 MAINE AVE UNIT 425
1 3RD PL UNIT 2
488 E OCEAN BLVD UNIT P9
120 ALAMITOS AVE APT 24
1500 E OCEAN BLVD UNIT 611
100 W 5TH ST UNIT 7B
250 FALCON AVE
1057 E 3RD ST APT 6E
350 CEDAR AVE UNIT 305
30 SAVONA WALK
5600 CAMPO WALK
12 PALERMO WALK
126 ORIZABA AVE
274 XIMENO AVE
126 ORIZABA AVE
30 SAVONA WALK
335 SANTA ANA AVE
6247 MAJORCA CIR
344 SANTA ANA AVE
126 ORIZABA AVE
224 ROYCROFT AVE
6265 E CRYSTAL COVE DR # 1
126 ORIZABA AVE
211 COVINA AVE
3939 E ALLIN ST UNIT 320
6025 E OCEAN BLVD
52 W NEAPOLITAN LN
6325 E COLORADO ST
126 ORIZABA AVE
126 ORIZABA AVE
149 VENETIA DR
7313 MARINA PACIFICA DR N
1734 N STANTON PL
1356 SAINT LOUIS AVE
1717 TEMPLE AVE
1734 N STANTON PL
1734 N STANTON PL
1734 N STANTON PL
1734 N STANTON PL
1027 OBISPO AVE
764 SANTIAGO AVE
2160 E 15TH ST
1055 ORIZABA AVE APT 15
1042 GLADYS AVE APT 5
1061 PARK AVE UNIT 304
1734 N STANTON PL
1734 N STANTON PL
5114 LONG BEACH BLVD
5535 ACKERFIELD AVE UNIT 26
5535 ACKERFIELD AVE UNIT 26
5535 ACKERFIELD AVE UNIT 26
5535 ACKERFIELD AVE UNIT 26
4804 LONG BEACH BLVD
6089 ATLANTIC AVE
1318 E 56TH ST
5535 ACKERFIELD AVE UNIT 26
1038 E 65TH ST
5535 ACKERFIELD AVE UNIT 26
5992 LINDEN AVE
400 E ARBOR ST SPC 219
5108 LONG BEACH BLVD
4828 LONG BEACH BLVD
3621 GAVIOTA AVE
3717 LINDEN AVE
3805 LINDEN AVE
4700 CLAIR DEL AVE APT 633
4425 WALNUT AVE
159 E CAMERON PL
3805 LINDEN AVE
617 W TERRYLYNN PL
3540 PINE AVE
4217 GARDENIA AVE
3805 LINDEN AVE
2626 E CARSON ST
2658 E HARRISON ST
2626 E CARSON ST
1501 W 19TH ST
3503 ADRIATIC AVE
2626 E CARSON ST
1501 W 19TH ST
2860 CANAL AVE
1913 W ARLINGTON ST
1501 W 19TH ST
3365 SANTA FE AVE APT 93
2414 HAYES AVE
2626 E CARSON ST
2861 DELTA AVE
2626 E CARSON ST
2911 FASHION AVE
2615 WEBSTER AVE
2010 W SPRING ST
1501 W 19TH ST
2490 FASHION AVE
1501 W 19TH ST
1501 W 19TH ST
3402 BALTIC AVE
1519 W SUMMIT ST
2733 E VAN BUREN ST
2626 E CARSON ST
10360 AMBOY AVE
15818 JOSEPH CT
13750 HUBBARD ST UNIT 82
1917 E LEWIS AVE
2401 E THOMAS AVE
460 N EFFIE ST
2401 E THOMAS AVE
1042 N FRESNO ST
2624 E OLIVE AVE
2246 E WHITE AVE
2260 E WEBSTER AVE
1843 E TYLER AVE
421 N DIANA ST
211 S BARTON AVE
4642 E MCKENZIE AVE
4046 E ALTA AVE
207 S BARTON AVE
920 S BOYD AVE # A-B
3928 E ILLINOIS AVE
1534 N 4TH ST
724 E WELDON AVE
73 E ROBINSON AVE
781 E CORNELL AVE
4190 N VAN NESS BLVD
73 E ROBINSON AVE
525 W SCOTT AVE
1821 W LANSING WAY
2815 W SAGINAW WAY
3971 N HUGHES AVE
1211 W HARVARD AVE
1223 W VASSAR AVE
4144 N CRYSTAL AVE
2706 W ASHLAN AVE SPC 7
2351 W DAKOTA AVE
3761 N FRUIT AVE APT B
1550 W ASHLAN AVE APT 120
1975 W PICO AVE
2509 S LILY AVE
165 E JEFFERSON AVE
430 S THORNE AVE
2568 S HARRISON AVE
2462 S LILY AVE
2378 S IVY AVE
2545 S POPPY AVE
997 E JOLSON AVE
303 E BULLARD AVE APT 104
486 E KEATS AVE
745 E SAN BRUNO AVE
706 E FREMONT AVE
6145 N CALLISCH AVE
2102 W RUE ST MICHEL
7132 N BRIARWOOD AVE
297 W BLUFF AVE
7318 N DEWEY AVE
2727 W BLUFF AVE APT 114
7166 N FRUIT AVE APT 179
6418 N ALISON LN
461 E ALLUVIAL AVE UNIT 102
9648 N 10TH ST
599 E SERENA AVE
1848 E EVERGLADE AVE
884 E BERKSHIRE LN
9289 N BAYFORD ST
8147 N CEDAR AVE APT 126
9568 N BARTON AVE
5948 W LAGUNA AVE # 68
6509 N BLYTHE AVE
5371 W ACACIA AVE
5747 W SAMPLE AVE
5556 W RICHERT AVE
5311 W HAMPTON WAY
7324 N WHEELER AVE
6532 N CORNELIA AVE
3097 W SANTA ANA AVE
7316 N BABIGIAN AVE
6299 N VISTA AVE
6292 N BABIGIAN AVE
6753 W OAK AVE
5812 W MAGILL AVE
2573 S JACKSON AVE
2575 S WILLOW AVE
4016 E HOLLAND AVE
1905 E PONTIAC WAY
2543 E ASHCROFT AVE
3944 E CORTLAND AVE
2733 E GARLAND AVE
2333 E AUSTIN WAY
3714 E GARLAND AVE
4636 E CORTLAND AVE
2733 E GARLAND AVE
4676 E ALAMOS AVE UNIT 106
4018 E GARLAND AVE

In [9]:
housing_data = housing_data.drop_duplicates(subset=['Address'])

len(housing_data)

38825

In [10]:
housing_data.loc[housing_data["City"] == housing_data["State"]]

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
5,10017,764900.0,1,1,643,145 E 48TH ST APT 11E,New York,New York,15514,20107.7,New York,188289.0,40.75235,-73.97260
6,10021,2499000.0,2,2,1471,234 E 70TH ST APT 4,New York,New York,42484,46004.0,New York,261254.0,40.76963,-73.95899
7,10022,4580000.0,2,3,1800,641 5TH AVE # 29D,New York,New York,33303,28998.9,New York,281977.0,40.75856,-73.96787
8,10026,540000.0,2,1,750,45 CENTRAL PARK N # 4D,New York,New York,39401,39689.7,New York,117438.0,40.80302,-73.95348
9,10026,570000.0,1,1,589,300 W 110TH ST APT 19H,New York,New York,39401,39689.7,New York,117438.0,40.80302,-73.95348
10,10026,699999.0,3,1,1200,241 W 111TH ST APT 21,New York,New York,39401,39689.7,New York,117438.0,40.80302,-73.95348
11,10026,380000.0,1,1,650,80 SAINT NICHOLAS AVE APT 7B,New York,New York,39401,39689.7,New York,117438.0,40.80302,-73.95348
12,10028,725000.0,1,1,950,33 E END AVE # M3,New York,New York,47793,58289.6,New York,270845.0,40.77643,-73.95339
13,10030,899000.0,2,1,825,2611 FREDERICK DOUGLASS BLVD APT 3F,New York,New York,31611,44019.6,New York,77559.0,40.81826,-73.94283
14,10034,180000.0,1,1,615,24 COOPER ST APT B,New York,New York,43365,16375.6,New York,87559.0,40.86749,-73.92358
15,10036,1150000.0,1,1,832,505 W 47TH ST APT 2FS,New York,New York,30437,26276.4,New York,148933.0,40.75976,-73.99064
16,10128,665000.0,1,1,780,345 E 93RD ST APT 23H,New York,New York,58147,49565.3,New York,224663.0,40.78151,-73.95018
17,10128,685000.0,1,1,625,340 E 93RD ST APT 11D,New York,New York,58147,49565.3,New York,224663.0,40.78151,-73.95018

In [11]:
housing_data.loc[housing_data["City"] == "New York", "City"] = "New York City"

housing_data.head()

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York City,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
5,10017,764900.0,1,1,643,145 E 48TH ST APT 11E,New York City,New York,15514,20107.7,New York,188289.0,40.75235,-73.97260

In [12]:
housing_data.to_csv("Data/cleaned_American_Housing_Data_2023.csv", index=False)

In [13]:
value_forecasts = pd.read_csv("Data/Zip_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_month.csv")

value_forecasts.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,BaseDate,2024-04-30,2024-06-30,2025-03-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,2024-03-31,0.6,1.5,0.2
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,2024-03-31,0.7,1.8,-1.0
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,2024-03-31,0.6,1.4,0.2
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2024-03-31,0.3,0.8,-0.4
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,2024-03-31,0.6,1.4,0.2

In [14]:
value_forecasts = value_forecasts.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName', 'State', 'Metro', 'City', 'CountyName'])

value_forecasts.head()

   RegionName    BaseDate  2024-04-30  2024-06-30  2025-03-31
0       77494  2024-03-31         0.6         1.5         0.2
1        8701  2024-03-31         0.7         1.8        -1.0
2       77449  2024-03-31         0.6         1.4         0.2
3       11368  2024-03-31         0.3         0.8        -0.4
4       77084  2024-03-31         0.6         1.4         0.2

In [15]:
value_forecasts = value_forecasts.rename(columns={"RegionName": "Zip Code",
                                                    "2024-04-30": "3-Month",
                                                     "2024-06-30": "6-Month",
                                                      "2025-03-31": "1-Year"})

value_forecasts.head()

   Zip Code    BaseDate  3-Month  6-Month  1-Year
0     77494  2024-03-31      0.6      1.5     0.2
1      8701  2024-03-31      0.7      1.8    -1.0
2     77449  2024-03-31      0.6      1.4     0.2
3     11368  2024-03-31      0.3      0.8    -0.4
4     77084  2024-03-31      0.6      1.4     0.2

In [16]:
value_forecasts.isnull().sum()

Zip Code    0
BaseDate    0
3-Month     0
6-Month     0
1-Year      0
dtype: int64

In [17]:
value_forecasts = value_forecasts.dropna()

value_forecasts.isnull().sum()

Zip Code    0
BaseDate    0
3-Month     0
6-Month     0
1-Year      0
dtype: int64

In [18]:
value_forecasts.dtypes

Zip Code      int64
BaseDate     object
3-Month     float64
6-Month     float64
1-Year      float64
dtype: object

In [19]:
dupes = value_forecasts.duplicated(subset=["Zip Code"])

dupe_list = list(np.where(dupes)[0])

len(dupe_list)

0

In [20]:
value_forecasts.to_csv("Data/Zillow_value_forecast.csv", index=False)

In [21]:
housing_value_joined = housing_data.join(value_forecasts.set_index('Zip Code'), on="Zip Code", how='left')

housing_value_joined

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude,BaseDate,3-Month,6-Month,1-Year
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York City,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472,2024-03-31,0.4,1.1,-0.6
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601,2024-03-31,0.4,1.0,-0.5
3,10014,760000.0,3,2,1538,38 JONES ST,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601,2024-03-31,0.4,1.0,-0.5
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601,2024-03-31,0.4,1.0,-0.5
5,10017,764900.0,1,1,643,145 E 48TH ST APT 11E,New York City,New York,15514,20107.7,New York,188289.0,40.75235,-73.97260,2024-03-31,0.4,1.1,-0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39976,98199,2495000.0,4,4,3380,2626 27TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223,2024-03-31,1.7,2.9,1.1
39977,98199,2295000.0,4,4,2878,3215 32ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223,2024-03-31,1.7,2.9,1.1
39978,98199,950000.0,3,2,1380,3257 22ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223,2024-03-31,1.7,2.9,1.1
39979,98199,425000.0,2,1,856,3711 26TH PL W APT 102,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223,2024-03-31,1.7,2.9,1.1
39980,98199,1150000.0,3,3,2840,2911 25TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223,2024-03-31,1.7,2.9,1.1

In [22]:
housing_data

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York City,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York City,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
5,10017,764900.0,1,1,643,145 E 48TH ST APT 11E,New York City,New York,15514,20107.7,New York,188289.0,40.75235,-73.97260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39976,98199,2495000.0,4,4,3380,2626 27TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39977,98199,2295000.0,4,4,2878,3215 32ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39978,98199,950000.0,3,2,1380,3257 22ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39979,98199,425000.0,2,1,856,3711 26TH PL W APT 102,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39980,98199,1150000.0,3,3,2840,2911 25TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223

In [23]:
housing_value_joined.to_csv("Data/housing_data_complete.csv", index=False)

In [25]:
housing_value_joined.to_json("Data/housing_data_complete.json", orient='records')